= link_to 'Volver al home', '/'

%h1 Listado de SOAT

%table.table
  %thead
    %tr
      %th id
      %th Estado
      %th Vigencia Desde
      %th Hasta
      %th Pago
      %th Tomador
      %th Vehiculo Placa
      %th Clase
      %th Tarifa
      %th Pago con tarjeta
      %th Fecha de compra
      %th
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.id
        %td= order.status.eql?(0) ? 'Sin confirmar' : 'Confirmada'
        %td= order.start_at.strftime('%F')
        %td= order.finish_at.strftime('%F')
        %td= to_currency order.payment_value
        %td= order.user.full_name
        %td= order.vehicle.placa
        %td= order.tariff.tariff_type.description
        %td= order.tariff.cylinders_description
        %td= "*#{order.credit_card.number.last(4)}"
        %td= order.created_at.strftime('%F')
        %td= link_to 'Ver detalle', admin_order_path(order.id)
