%strong= "Hola #{@info[:full_name]}, gracias por tu compra!"
%br
%br

%strong Resumen de la compra:
%span Poliza seguro obligatorio.
%br

%strong Placa:
%span= @info[:placa]
%br

%strong Vigencia
%br
%span Desde:
%span= @info[:start_at]
%br
%span Hasta:
%span= @info[:finish_at]
%br

%strong Tu SOAT
%br
%span= @info[:tariff_type_description]
%br

%strong Información de tarifa:
%span= @info[:tariff_description]
%br

%strong Tomador:
%span= @info[:full_name]
%br

%strong Total:
%span= @info[:total]
%br
%br
%br

%strong Conoce coberturas:
%br
%span Es un seguro de accidentes personales
%br
%span Los asegurados son las víctimas potenciales de accidentes de tránsito.
%br
%span Cubre los daños corporales a las personas en accidente de tránsito.
%br
%span Tiene incorporado coberturas en caso de muerte como consecuencia de un accidente de tránsito.
%br
%span Es de cubrimiento universal, es decir, cubre a todas las víctimas que resulten en accidentes de tránsito.
